@import './variables.scss';
@import './bulma-variables.scss';

// Pagination
.pagination-link, .pagination-next, .pagination-previous {
  background-color: $background;
}
nav.pagination > a[role=button] {
  display: none;
}

// @import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';

// https://github.com/jgthms/bulma/issues/1540
@media screen and (max-width: $tablet - 1) {
  .columns {
    margin: 0;
  }
  .column {
    padding: 0;
  }
}

.reverse-row-order {
  flex-direction: row-reverse;
}
