$body-color: #c8cdd0;
$background: #2c3e50;
$body-background-color: #1c2732;
$border: #46627f;
$link: #2fe3be;

$rescue: #2ecc71;
$death: #e74c3c;

$golden-egg: #f1c40f;
$power-egg: #e67e22;
$boss-elimination: #9b59b6;

$player-1: #e74c3c;
$player-2: #2ecc71;
$player-3: #3498db;
$player-4: #f1c40f;
